.allproduct-page .card-content {
  background-color: rgba(128, 128, 128, 0.097);
}

.allproduct-page .card-name-price,
.allproduct-page .card-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.allproduct-page .card-price {
  color: green;
  font-weight: bold;
}

.allproduct-page .card-text {
  color: rgb(90, 89, 89);
  margin: 5px 0px;
}

.allproduct-page .card img {
  margin: 10px 0px;
}

.allproduct-page .card img:hover {
  transform: scale(1.1);
}

/* ====================
bottom styling 
======================*/

.allproduct-page .card-bottom p {
  margin: 0px;
}

.allproduct-page .card-content {
  display: flex;
}

.allproduct-page .card-body {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.allproduct-page .card-bottom {
  margin-top: auto;
}
