.gototop-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.gototop-container .gototop-btn {
  font-size: 1.8rem;
  width: 4rem;
  height: 4rem;
  color: #fff;
  background-color: #007bff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  opacity: 0.8;
  border-radius: 50%;
  position: fixed;
  bottom: 3rem;
  right: 3rem;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.gototop-container .go-to-top-icon {
  animation: gototop 1.2s linear infinite alternate-reverse;
}

@keyframes gototop {
  0% {
    transform: translateY(-0.5rem);
  }
  100% {
    transform: translateY(1rem);
  }
}

@media (max-width: 768px) {
  .gototop-container .gototop-btn {
    font-size: 1.3rem;
    width: 3rem;
    height: 3rem;
    right: 1rem;
    bottom: 2rem;
  }
}