.H_dash{
  margin-top: 60px !important;
}

.home-page .allProduct{
  display: flex;
  flex-wrap: wrap;
}

.home-page h1 {
  color: gray;
  font-family: "Playfair Display", serif; 
}

.home-page {
  display: flex;
  flex-wrap: wrap;
}

/* ==================
filters
===================== */

.filters .reset-button {
  background-color: black;
  color: white;
  border-radius: 30px;
  padding: 0.5rem 0px;
  margin-bottom: 100px;
  font-size: 20px;
  font-weight: 600;
}

.filters .reset-button:hover {
  background-color: rgb(77, 75, 75);
}

.filters .accordion-button {
  background-color: rgba(92, 172, 237, 0.906);
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 20px;
  font-weight: 600;
}

.filters .collapsed {
  background-color: rgba(104, 227, 245, 0.685);
}

.filters .accordion-collapse {
  background-color: rgba(167, 205, 237, 0.685);
}

.filters {
  margin-top: 75px;
}

.ant-checkbox-wrapper:first-of-type {
  margin-left: 8px;
}

.ant-checkbox-wrapper {
  margin: 2px;
}
.ant-radio-wrapper {
  margin-bottom: 5px !important;
  margin-left: 10px;
}

.loadmore {
  color: green;
  font-weight: bold;
  font-size: 20px !important;
  width: 100%;
}
