.H_dash {
  margin-top: 60px !important;
}

.carousel-control-prev,
.carousel-control-next {
  transform: scale(1.5);
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: black;
  filter: invert(100%);
}

.home-page {
  margin: 0 !important;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.home-page .allProduct {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.home-page h1 {
  color: gray;
  font-family: "Playfair Display", serif;
}

/* ==================
filters
===================== */

.home-page .filters {
  position: sticky;
  display: flex;
  flex-direction: column;
  width: 25%;
  top: 60px;
  bottom: 0px;
  margin-bottom: 0px;
  height: 100vh;
  padding-top: 75px;
  z-index: 2;
  align-self: flex-start;
  overflow: auto;
  background-color: beige;
  transition-delay: 0.1s;
  transition: all 0.3s ease;
}

.home-page .right-side {
  width: 75%;
  margin-top: 20px;
  transition-delay: 0.1s;
  transition: all 0.3s ease;
}

.home-page .filters.filter-collapsed {
  width: 5%;
  transition-delay: 0.1s;
  transition: all 0.3s ease;
}

.home-page .right-side.filter-collapsed {
  width: 95%;
  transition-delay: 0.1s;
  transition: all 0.3s ease;
}

.home-page .toggle-filters-button {
  position: absolute;
  top: 0px; /* Adjust the top and right values to position the button */
  right: 20px;
  font-size: 44px;
  border: none;
  background-color: beige;
  cursor: pointer;
}

/************************ For collapse sidebar **************************************/
.home-page .filters.filter-collapsed {
  padding: 0;
  overflow: hidden;
}

.home-page .filters.filter-collapsed div.accordion,
.home-page .filters.filter-collapsed div.button,
.home-page .filters.filter-collapsed div button {
  display: none;
}

.home-page .filters.filter-collapsed .toggle-filters-button {
  position: static;
  transition-delay: 0.1s;
  transition: all 0.3s ease;
}

.home-page .filters.filter-collapsed .verticalApplyFilters {
  padding: 15px 0px 50px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgb(20, 228, 222);
}

.home-page .filters.filter-collapsed .verticalFilters,
.home-page .filters.filter-collapsed .verticalApply {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}

.home-page .filters.filter-collapsed .verticalApply {
  height: 40%;
}

.home-page .filters.filter-collapsed .verticalFilters {
  height: 56%;
}

.home-page .filters.filter-collapsed .verticalApplyFilters h5 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(194, 99, 235);
  color: white;
  font-size: 24px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

/************************* For small screen **************************************/
@media (max-width: 768px) {
  .carousel-control-prev,
  .carousel-control-next {
    transform: scale(1);
  }

  .home-page .filters .toggle-filters-button {
    display: none;
  }

  .home-page .filters {
    position: static;
    width: 100%;
    padding-top: 10px;
    height: auto;
  }

  .home-page .right-side {
    width: 100%;
  }
}

/* **************************** sab thik ba  *****************************************/

.home-page .filters .apply-button {
  background-color: rgb(20, 182, 39);
  color: rgb(2, 8, 18);
  border-radius: 30px;
  padding: 0.5rem 0px;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 600;
}

.home-page .filters .apply-button:hover {
  background-color: rgb(25, 156, 91);
}

.home-page .filters .reset-button {
  background-color: rgb(243, 128, 34);
  color: rgb(2, 8, 18);
  border-radius: 30px;
  padding: 0.5rem 0px;
  margin-bottom: 30px;
  font-size: 20px;
  font-weight: 600;
}

.home-page .filters .reset-button:hover {
  background-color: rgb(235, 156, 91);
}

.home-page .filters .filter-option-text {
  font-size: 20px;
}

.home-page .filters .accordion-button {
  background-color: rgba(104, 227, 245, 0.685);
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 20px;
  font-weight: 600;
}

.home-page .filters .collapsed {
  background-color: rgba(104, 227, 245, 0.685);
}

.home-page .filters .accordion-collapse {
  background-color: rgba(167, 205, 237, 0.685);
}

.home-page .filters .ant-checkbox-wrapper {
  margin: 2px;
}

.home-page .filters .ant-radio-wrapper {
  margin-bottom: 5px !important;
  margin-left: 10px;
}

.home-page .filters .ant-checkbox .ant-checkbox-inner {
  width: 20px;
  height: 20px;
  border-color: red;
}

.home-page .filters .ant-radio-wrapper .ant-radio-inner {
  width: 20px;
  height: 20px;
  border-color: red;
}

.home-page .loadmore {
  color: green;
  font-weight: bold;
  font-size: 20px !important;
  width: 100%;
}
