.product-details {
  margin-top: 100px !important;
}

.product-details-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.product-details-info h6 {
  margin-bottom: 20px !important;
}