.range-slider {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.range-slider .wrapper {
  padding-bottom: 20px;
}

.range-slider .price-input {
  margin-bottom: 15px;
}

.range-slider .price-input .field {
  display: flex;
  height: 45px;
  margin: 10px;
  align-items: center;
}

.range-slider .field input {
  width: 100%;
  height: 100%;
  outline: none;
  font-size: 19px;
  margin-left: 12px;
  border-radius: 5px;
  text-align: center;
  border: 1px solid #999;
}

.range-slider input[type="number"]::-webkit-outer-spin-button,
.range-slider input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.range-slider .slider-bottom {
  /* border : 1px solid black; */
  background: #16f8e5;
  box-shadow: 0 12px 35px rgba(0, 0, 0, 0.1);
  padding: 20px 10px;
  border-radius: 10px;
}

.range-slider .slider {
  height: 10px;
  position: relative;
  background: #27b817; /*change the color of the remaining slider*/
  border-radius: 5px;
}

.range-slider .slider .progress {
  height: 100%;
  left: 25%;
  right: 25%;
  position: absolute;
  border-radius: 5px;
  background: #09a8ed; /*change the color of the selected part of slider*/
}

.range-slider .range-input {
  position: relative;
}

.range-slider .range-input input {
  position: absolute;
  width: 100%;
  height: 1px;
  top: -5px;
  background: none;
  pointer-events: none;
  -webkit-appearance: none;
}

.range-slider input[type="range"]::-webkit-slider-thumb {
  height: 17px;
  width: 17px;
  border-radius: 50%;
  background: #e32020; /*change the color of the slider button*/
  pointer-events: auto;
  -webkit-appearance: none;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
}

.range-slider input[type="range"]::-moz-range-thumb {
  height: 17px;
  width: 17px;
  border: none;
  border-radius: 50%;
  background: #e32020;
  pointer-events: auto;
  -moz-appearance: none;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
}
